useDynLib(jwglm, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "contrasts", "model.matrix", "model.response", "rbinom", "runif")
export(jwglm)
export(DGP)
#exportPattern("^[[:alpha:]]+")
